# Python virtual environment
.venv/
__pycache__/

# Model files should not be committed to the repository
*.joblib
saved_models/

# VSCode settings
.vscode/

# Other common Python files to ignore
*.pyc
*.egg-info/